Bonjour bonjour!
<br><br>
Bienvenue sur ma modeste application. Ceci agira comme un README!
<br>
Si vous êtes là que c'est que vous avez suivi les instructions d'installation, ou que vous accédez à mon superbe VPS 😎
<br>
<br>
L'application permet d'enregistrer, de créer et de mettre à jour des assignments (des devoirs), c'est à peu près tout... Il y a quelques subtilités, il y a des pages, on peut filtrer, par prof, matière ou élève...
<br><br>
Vous l'aurez (je pense) compris, le front-end et tout ce qui orbite autour du design n'est pas /du tout/ mon fort, mais j'ai quand même essayé d'y mettre les formes!
<br><br>
Cette application aurait dû normalement comporter un système d'authentification avec JWT, ça aurait ENORMEMENT étoffé le contenu, on aurait pu faire (et d'ailleurs c'était prévu vous le verrez dans le schéma de BDD) un système de check... Si le professeur A gère la classe A et B, il ne peut donner des devoirs que à la classe A et B... Si l'étudiant est dans la classe A, il ne peut voir que les devoirs de la classe A... Mais le système de JWT et la manière dont on l'implémente me dépasse complétement, même en me laissant tenir la main par ChatGPT!
<br><br>
Voici donc le schéma de base de données (à jour):
<br><br>
<img src="/assets/img/bdd.png" style="max-width: 70%">
<br><br>
Bonne démo!
<br><br><br><br><br><br>