Bonjour!
<br>
Bienvenue sur ma modeste application. Ceci agira comme un README!
<br>
Si vous êtes là que c'est que vous avez suivi les instructions d'installation, ou que vous accédez à mon superbe VPS 😎
<br>
<br>
L'application permet d'enregistrer, de créer et de mettre à jour des assignments (des devoirs), c'est à peu près tout... Il y a quelques subtilités, il y a des pages, on peut filtrer, par prof, matière ou élève...
<br><br>
Voici le schéma de base de données (à jour):
<img src="schema.jpg">
<br><br>
Bonne démo!