<div *ngIf="viewMode; else editable">
  <div *ngIf="currentAssignment.id">
    <h4>Assignment</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentAssignment.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentAssignment.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentAssignment.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/assignments/{{ currentAssignment.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentAssignment">
    <br />
    <p>Please click on a Assignment...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentAssignment.id" class="edit-form">
    <h4>Assignment</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentAssignment.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentAssignment.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentAssignment.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentAssignment.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentAssignment.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteAssignment()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateAssignment()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentAssignment.id">
    <br />
    <p>Cannot access this Assignment...</p>
  </div>
</ng-template>
