<div class="list row">
	<div class="col-md-8">
		<div class="input-group mb-3">
			<input
			type="text"
			class="form-control"
			placeholder="Recherche par matière ou professeur"
			[(ngModel)]="title"
			/>
			<div class="input-group-append">
				<button
				class="btn btn-outline-secondary"
				(click)="searchTitle()"
				>
				Rechercher
			</button>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h4>Liste des devoirs</h4>
	<ul class="list-group">
		<li
		class="list-group-item"
		*ngFor="let assignment of assignments; let i = index"
		[class.active]="i == currentIndex"
		(click)="setActiveAssignment(assignment, i)"
		>
		Devoir n°{{ assignment.subjectId }} de {{ assignment.subjectName }}
		<br>
		<br>
		Donné le {{ assignment.assignedTime }} et à rendre pour le {{ assignment.givenTime }}
		<br>
		Par le professeur {{ assignment.teacherLN }}
		<br>
		<br>
		{{ assignment.description }}
		<button class="m-3 btn btn-sm btn-danger" style="float: right" (click)="removeAssignment(assignment)">Supprimer</button>
	</li>
</ul>

<!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAssignments()">
	(DEBUG) Tout supprimer
</button> -->
</div>
<div class="col-md-6">
	<app-assignment-details
	[viewMode]="true"
	[currentAssignment]="currentAssignment"
	></app-assignment-details>
</div>
</div>
