<div class="list row">
	<div class="col-md-8">
		<div class="input-group mb-3">
			<input
			type="text"
			class="form-control"
			placeholder="Recherche par matière, professeur, classe"
			[(ngModel)]="filter"
			/>
			<div class="input-group-append">
				<button
				class="btn btn-outline-secondary"
				(click)="filterAssignment()"
				>
				Rechercher
			</button>
		</div>
	</div>
</div>
<div class="col-md-6">
	<h4>Liste des devoirs</h4>
	<ul class="list-group">
		<li
		class="list-group-item"
		*ngFor="let assignment of pAssignments; let i = index"
		[class.active]="i == currentIndex"
		(click)="setActiveAssignment(assignment, i)"
		>
		Devoir n°{{ assignment.assignmentId }} de {{ assignment.subjectName }}
		<br>
		Par le professeur {{ assignment.teacherLN }}
		<br>
		Pour la classe {{ assignment.className }}
		<br>
		<br>
		Donné le {{ assignment.assignedTime }}
		<br>
		À rendre pour le {{ assignment.givenTime }}
		<br>
		<br>
		{{ assignment.description }}
		<div style="float: right">
			<a routerLink="/edit/{{ assignment.assignmentId }}"><button class="btn btn-sm btn-warning">Éditer</button></a>
			<button class="btn btn-sm btn-danger" (click)="removeAssignment(assignment)">Supprimer</button>			
		</div>
	</li>
	<div style="margin-top: 4em; margin-bottom: 2em; margin-left: auto; margin-right: auto; text-align: center">
		<a>Page actuelle : {{ currentPage + 1}} / {{ maxPage }}</a>
		<br>
		<br>
		<button style="width: 7em" class="btn btn-sm btn-success" (click)="previousPage()">Précédent</button>
		<button style="width: 7em" class="btn btn-sm btn-success" (click)="nextPage()">Suivant</button>
	</div>
</ul>

<!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAssignments()">
	(DEBUG) Tout supprimer
</button> -->
</div>
</div>
